body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-menu{
    background-color: white;
    margin-left: 33%;
    margin-top: 10px;
    width: 36%;
    height: 50px;
    color: rgb(11, 118, 145);
    margin-top: -7px;
    padding-left: 0vh;
    z-index: 100;
    position: relative;
}
.header{
    position: relative;
}
ul li{
    font-size: large;
    display: inline;
    padding: 20px;
}
.bck{
    background-image: url(../images/lead-bg.jpg);
    height: 100vh;
    margin-top: -8vh;
    background-size: cover;
    position: relative;
}
.bck-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33,125,187,0.8);
    z-index: 1;
}
.text-h1 {
    color: white;
    text-align: center;
    align-content: center;
    padding: 20%;
    font-size: 50px;
}